/*You can add global styles to this file, and also import other style files */

.white-circle {
  cursor: pointer;
  background-color: rgba(225,225,225,1);
  box-shadow: 0 0 8px #d8dbe3;
  border: 1px solid rgba(100,100,100,0.3);
  border-radius: 50%;
  height: 150px;
  margin: 0 auto;
  width: 150px;
}

.white-circle:hover {
  box-shadow: 0 0 8px #007dbc;
}

.white-circle img {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;

  /*top: 18px;*/
}

.audio-control-messages {
  /*position: fixed;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*margin-top: -50px;*/
  /*margin-left: -50px;*/
  /*text-align: center;*/
  margin:0 auto;
  display: block;
  padding-top: 10px;
  text-align: center;
}
.audio-control-content{
  /*position: absolute;*/
  margin-top:150px;
  width: 100%;
}

/*body {*/
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  /*line-height: 21px;*/
  /*color: #444;*/
  /*font-size: 13px;*/
  /*font-weight: 400;*/
  /*background-color: #f9fafc;*/
/*}*/

canvas {
  height: 100px;
  width: 100vw;
  margin-top: -50px;
  display: block;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: -1;
}
